*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@media (max-width : 1065px) {
    .nav span{
        flex-wrap: wrap;
        height: auto;
        width: auto;
        display: flex;
        justify-content: space-between;
      
    }


}
@media (max-width : 1020px) {
    .box{
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .a{
        height: 100%;
        width: 100%;
    }
    .b{
        height: 100%;
        width: 100%;
    }
    .c{
        height: 100%;
        width: 100%;
    }
    .d{
        height: 100%;
        width: 100%;
    }
    .e{
        height: 100%;
        width: 100%;
    }
}

@media (max-width : 765px ) {

    .flex{
        display: none;
    }
    .nav span {
        display: none;
    }
    .nav h1{
        width: 50%;
        height: 100%;
    }
}
@media (max-width : 764px) {
    .canvas {
        display: block;
    }
    
}